<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thymeleaf</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/font.css" data-th-href="@{/css/font.css}" />
</head>
<body>
Thymeleaf测试页面
<!--/*@thymesVar id="value" type="java.lang.String"*/-->
<p th:text="${value}">
    value的值
</p>
<!--/*  */-->
<div  th:unless="${#lists.isEmpty(foods)}" class="bold">
    <ul>
        <li th:each="food,index:${foods}" th:class="${index.odd}?'odd'"><span th:text="${food.fName}">
        </span><span th:text="${food.Fry}?'油炸':'非油炸'"></span>&nbsp;<a href="test.html" th:href="@{/food/foodDetail(fid=${food.fId})}">详情</a>
        </li>
        <li th:remove="all">饺子</li>
        <li th:remove="all">包子</li>
        <li th:remove="all">馒头</li>
    </ul>
</div>

<hr />
<p th:text="#{home.welcome(${session.user})}">适配本国 问候语</p><!--在message中，用占位符{0[...n]}表示-->
<p th:utext="#{${home_welcome}(${sex})}"></p><!-- message 可以是从内置对象中取得的 -->
<hr/>
<p th:text="${#request.getAttribute('sex')}"></p>
<p th:text="${#calendars.format(calendar,'yyyy-MM-dd')}"></p>
<hr />
<div th:object="${selectFood}">
    <p th:text="*{fId}">1111</p>
    <p th:text="*{fName}">洞子火锅</p>
    <p th:text="*{Fry}">true</p>
</div>
<hr/>
<!--Fragments：-->
<div th:replace="~{footer :: thanks(${session.user},${address},${{time}})}"></div>
<div th:with="who=${session.user},where=${address},when=${{time}}">
    <p th:replace="~{footer :: thanks(${who},${where},${when})}"></p>
</div>
<div th:include="~{footer :: #thank}"></div>
<!--<div th:with="frag=~{footer :: #main/text()}">-->
    <!--<p th:insert="${frag}">-->
<!--</div>-->
<div th:fragment="test">
    Test fragment
</div>

<div th:insert="::test(who=${session.user},where=${address},when=${{time}})"></div>
<div th:insert="::test" th:with="who=${session.user},where=${address},when=${{time}}"></div>

<!--/*/
<div th:text="${selectFood.fName}"></div>
/*/-->
</body>
</html>