<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th=http://www.thymeleaf.org>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thymeleaf</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/font.css" data-th-href="@{/css/font.css}" />
</head>
<body>
Thymeleaf测试页面
<!--/*@thymesVar id="value" type="java.lang.String"*/-->
<p th:text="${value}">
    value的值
</p>
<div  th:unless="${#lists.isEmpty(foods)}" class="bold">
    <ul>
        <li th:each="food:${foods}"><span th:text="${food.fName}"></span><span th:text="${food.Fry}?'油炸':'非油炸'"></span></li>
    </ul>
</div>

<hr />
<p th:text="#{home.welcome(${session.user})}">适配本国 问候语</p>
<p th:utext="#{${home_welcome}(${session.user})}"></p><!-- message -->
</body>
</html>